{% extends 'base.html' %}

{% load static %}

{% block 'page-template' %}

<main class="main">

    <section id="blog-posts" class="blog-posts section mt-5">

        <div class="container" style="height: 100vh;">
            <div class="row mt-5">
                <div class="col-lg-12">
                    <article class="news-article" data-aos="fade-right">
                        <p>Wahid is a "news aggregate" website mainly aiming at picking, distilling, briefly
                            summarizing, news analysis of market trends, and sometimes adding original insights on the
                            business news targeting the Ethiopian market. So, if you are looking for important news
                            regarding the diesel and electric vehicles, banking and finance, transport and logistics,
                            and others, Wahid is the right place to look for. We are happy to share you downloadable
                            resources too; like policies, regulations and directives on important sectors like banking,
                            transport, import and customs, etc.</p>
                    </article>
                </div>
            </div>
        </div>

    </section>

</main>

{% endblock %}