{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Wahid Business News</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="{% static 'images/mobile-view-logo.png' %}" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{% static 'admin_statics/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>

<body class="blog-page">

    <header id="header" class="header fixed-top">

        <div class="branding d-flex align-items-cente">

            <div class="container position-relative d-flex align-items-center justify-content-between">
                <a href="{% url 'user-index-view' %}" class="logo d-flex align-items-center">
                    <img src="{% static 'images/mobile-view-logo.png' %}" alt="">
                </a>

                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li>
                            <a href="{% url 'user-index-view' %}"
                                class="fw-bold {% if request.resolver_match.url_name == 'user-index-view' %}active{% endif %}">
                                Home
                            </a>
                        </li>
                         <!-- Diesel Vehicle Dropdown --> 
                        <li class="dropdown">
                            <a href="#" class="fw-bold {% if request.resolver_match.url_name == 'news-by-category' and request.resolver_match.kwargs.news_type == 'trucks-diesel-vehicle' or request.resolver_match.kwargs.news_type == 'machineries-diesel-vehicle' or request.resolver_match.kwargs.news_type == 'cars-diesel-vehicle' %}active{% endif %}">
                                <span>Diesel Vehicle</span>
                                <i class="bi bi-chevron-down toggle-dropdown"></i>
                            </a>
                            <ul>
                                <li>
                                    <a href="{% url 'news-by-category' news_type='trucks-diesel-vehicle' %}"
                                    class="{% if request.resolver_match.kwargs.news_type == 'trucks-diesel-vehicle' %}active{% endif %}">
                                    Trucks
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'news-by-category' news_type='machineries-diesel-vehicle' %}"
                                    class="{% if request.resolver_match.kwargs.news_type == 'machineries-diesel-vehicle' %}active{% endif %}">
                                    Machineries
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'news-by-category' news_type='cars-diesel-vehicle' %}"
                                    class="{% if request.resolver_match.kwargs.news_type == 'cars-diesel-vehicle' %}active{% endif %}">
                                    Cars
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- Electric Vehicle -->
                        <li>
                            <a href="{% url 'news-by-category' news_type='electric-vehicle' %}"
                            class="fw-bold {% if request.resolver_match.url_name == 'news-by-category' and request.resolver_match.kwargs.news_type == 'electric-vehicle' %}active{% endif %}">
                            Electric Vehicle
                            </a>
                        </li>

                        <!-- Banks & Financial -->
                        <li class="dropdown">
                            <a href="#" class="fw-bold {% if request.resolver_match.url_name == 'news-by-category' and request.resolver_match.kwargs.news_type == 'news-banks-financial' %}active{% elif request.resolver_match.url_name == 'news-by-category' and request.resolver_match.kwargs.news_type == 'regulations-banks-financial' %}active{% endif %}">
                                <span>Banks & Financial</span>
                                <i class="bi bi-chevron-down toggle-dropdown"></i>
                            </a>
                            <ul>
                                <li>
                                    <a href="{% url 'news-by-category' news_type='news-banks-financial' %}"
                                    class="{% if request.resolver_match.kwargs.news_type == 'news-banks-financial' %}active{% endif %}">
                                    News
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'news-by-category' news_type='regulations-banks-financial' %}"
                                    class="{% if request.resolver_match.kwargs.news_type == 'regulations-banks-financial' %}active{% endif %}">
                                    Regulations
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Logistics & Transport -->
                        <li class="dropdown">
                            <a href="#" class="fw-bold {% if request.resolver_match.url_name == 'news-by-category' and request.resolver_match.kwargs.news_type == 'news-logistics-transport' %}active{% elif request.resolver_match.url_name == 'news-by-category' and request.resolver_match.kwargs.news_type == 'regulations-logistics-transport' %}active{% endif %}">
                                <span>Logistics & Transport</span>
                                <i class="bi bi-chevron-down toggle-dropdown"></i>
                            </a>
                            <ul>
                                <li>
                                    <a href="{% url 'news-by-category' news_type='news-logistics-transport' %}"
                                    class="{% if request.resolver_match.kwargs.news_type == 'news-logistics-transport' %}active{% endif %}">
                                    News
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'news-by-category' news_type='regulations-logistics-transport' %}"
                                    class="{% if request.resolver_match.kwargs.news_type == 'regulations-logistics-transport' %}active{% endif %}">
                                    Regulations
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'display-resources' %}"
                                class="fw-bold {% if request.resolver_match.url_name == 'display-resources' %}active{% endif %}">
                                Resources
                            </a>
                        </li>

                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>

            </div>

        </div>

    </header>

    {% block 'page-template' %}

    {% endblock %}

    <footer id="footer" class="footer accent-background">
        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">Wahid Business News</strong> <span>All Rights
                    Reserved</span></p>
            <div class="credits">
                Developed by <a href="https://www.linkedin.com/in/tesfahiwet-truneh-2a2139179/" class="fw-bold">Tesfahiwet Truneh</a>
            </div>
        </div>
    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        $(document).ready(function () {
            $('#subscribe-form').submit(function (e) {
                e.preventDefault();

                var email = $('#email').val();

                $.ajax({
                    url: '{% url "user-index-view" %}',
                    type: 'POST',
                    data: {
                        email: email,
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()  // Include CSRF token
                    },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Subscribed!',
                                text: response.message,
                                confirmButtonText: 'OK',
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: response.message,
                                confirmButtonText: 'Try Again'
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'An error occurred. Please try again.',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });
        });
    </script>

    <div id="loadingIndicator" style="display: none;">Loading...</div>

    <style>
        .parsley-errors-list {
            color: red;
            list-style-type: none;
            padding-left: 0;
            font-size: 0.875rem;
        }

        .parsley-error {
            border-color: red;
        }

        #loadingIndicator {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
        }
    </style>

</body>

</html>