{% extends 'base.html' %}

{% load static %}

{% block 'page-template' %}

<style>
  p[data-f-id="pbf"] {
    display: none;
  }
</style>

<main class="main">

    <section id="blog-posts" class="blog-posts section mt-5">

        <div class="container">
            <div class="row">

                <div class="row">
                    <div class="col-lg-8 mt-5">
                        <div class="row">
                            {% if articles %}
                            {% for article in articles %}
                            <div class="col-lg-4">
                                <article class="news-article" data-aos="flip-right">
                                    <div class="post-img">
                                        <img src="{{ article.thumbnail.url }}" alt="" class="img-fluid">
                                    </div>
                                    <p class="post-category">{{ article.get_news_type_display }}</p>
                                    <h2 class="title">
                                        <a href="#" data-bs-toggle="modal"
                                            data-bs-target="#articleModal{{ article.id }}">
                                            {{ article.title }}
                                        </a>
                                    </h2>
                                    <div class="post-meta d-flex align-items-center">
                                        <p class="post-date">
                                            <time datetime="{{ article.created_at|date:'Y-m-d' }}">
                                                <span class="bi bi-clock"></span> {{ article.created_at|date:'M d, Y' }}
                                            </time>
                                        </p>
                                    </div>
                                </article>
                            </div>

                            <div class="modal fade" id="articleModal{{ article.id }}" tabindex="-1"
                                aria-labelledby="articleModalLabel{{ article.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header bg-dark">
                                            <h6 class="modal-title text-white text-center"
                                                id="articleModalLabel{{ article.id }}">
                                                {{ article.title }}
                                            </h6>
                                        </div>
                                        <div class="modal-body">
                                            {{ article.content|safe }}
                                            {% if article.full_content_url %}
                                            <div class="d-flex justify-content-center pt-4">
                                                <a href="{{ article.full_content_url }}" target="_blank" class="text-center">
                                                    <span class="bi bi-link"> Read full article: </span>
                                                </a>
                                                
                                                <a href="#" onclick="copyToClipboard('{{ request.scheme }}://{{ request.get_host }}/news/{{ article.slug }}/'); return false;" class="text-center">
                                                    <span class="bi bi-link"> Copy Link </span>
                                                </a>
                                                
                                                <script>
                                                    function copyToClipboard(text) {
                                                        navigator.clipboard.writeText(text).then(function() {
                                                            Toastify({
                                                                text: "Link copied to clipboard!",
                                                                duration: 3000,
                                                                close: true,
                                                                gravity: "top",
                                                                position: "right",
                                                                backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                                                                stopOnFocus: true
                                                            }).showToast();
                                                        }, function(err) {
                                                            Toastify({
                                                                text: "Failed to copy link: " + err,
                                                                duration: 3000,
                                                                close: true,
                                                                gravity: "top",
                                                                position: "center",
                                                                backgroundColor: "linear-gradient(to right, #ff0000, #ff7f7f)",
                                                                stopOnFocus: true
                                                            }).showToast();
                                                        });
                                                    }
                                                </script>
                                                
                                                <!-- Include Toastify CSS (if not included yet) -->
                                                <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
                                                
                                                <!-- Include Toastify JS -->
                                                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>                                                                                               
                                                
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="d-flex justify-content-center">
                                <ul class="pagination">
                                    {% if articles.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1&next_post=true">&laquo; First</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link"
                                            href="?page={{ articles.previous_page_number }}&next_post=true">Previous</a>
                                    </li>
                                    {% endif %}
                
                                    {% for page_num in articles.paginator.page_range %}
                                    {% if articles.number == page_num %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ page_num }}</span>
                                    </li>
                                    {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_num }}&next_post=true">{{ page_num }}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                
                                    {% if articles.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ articles.next_page_number }}&next_post=true">Next</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ articles.paginator.num_pages }}&next_post=true">Last
                                            &raquo;</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% else %}
                            <!-- No Articles Found Message -->
                            <div class="d-flex flex-column align-items-center justify-content-center text-center my-5">
                                <i class="bi bi-exclamation-circle display-4 text-danger"></i>
                                <h4 class="text-muted mt-2">No Articles Found</h4>
                                <p class="text-secondary">We couldn't find any articles at the moment. Please check back
                                    later.</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-4" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="600">
                        <div class="widgets-container border border-1 border-muted rounded text-center">
                            <div class="a2a_kit a2a_kit_size_32 a2a_default_style mb-4 d-flex justify-content-center">
                                <a class="a2a_button_facebook"></a>
                                <a class="a2a_button_twitter"></a>
                                <a class="a2a_button_linkedin"></a>
                                <a class="a2a_button_telegram"></a>
                                <a class="a2a_button_whatsapp"></a>
                                <a class="a2a_button_email"></a>
                            </div>
                            <h5 class="fw-bold text-primary mb-3"><i class="bi bi-envelope-fill"></i> Subscribe to Our
                                Newsletter</h5>
                            <p class="text-muted mb-3 text-dark">Stay updated with the latest news and exclusive offers.
                            </p>

                            <form id="subscribe-form" method="POST" class="input-group">
                                {% csrf_token %}
                                <input type="email" id="email" name="email"
                                    class="form-control border border-primary rounded-start"
                                    placeholder="Enter your email" required>
                                <button class="btn btn-primary px-4 rounded-end" type="submit" title="Subscribe">
                                    <i class="bi bi-envelope-fill"></i> Subscribe
                                </button>
                            </form>
                        </div>

                        <div class="widgets-container">
                            <div class="recent-posts-widget widget-item">
                                <h3 class="widget-title"><span class="bi bi-clock-history"></span> Old Posts</h3>
                                {% if old_articles %}
                                {% for article in old_articles %}
                                <div class="post-item">
                                    <img src="{{ article.thumbnail.url }}" alt="" class="flex-shrink-0"
                                        style="height: 100%;">
                                    <div>
                                        <h4><a href="#" data-bs-toggle="modal"
                                                data-bs-target="#articleModal{{ article.id }}">{{ article.title }}</a>
                                        </h4>
                                        <time style="font-style: normal;"
                                            datetime="{{ article.created_at|date:'Y-m-d' }}">
                                            <span class="bi bi-clock"></span> {{ article.created_at|date:'M d, Y' }}
                                        </time>
                                    </div>
                                </div>
                                {% endfor %} 
                                {% else %}
                                <code>
                                    No old articles found!</code>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>

{% endblock %}