{% extends 'base.html' %}

{% load static %}

{% block 'page-template' %}

<main class="main">

    <section id="blog-posts" class="blog-posts section mt-5">

        <div class="container">
            <div class="row gy-4">

                {% for article in articles %}
                <div class="col-lg-3">
                    <article class="news-article">
                        <div class="post-img">
                            <img src="{{ article.thumbnail.url }}" alt="" class="img-fluid">
                        </div>
                        <p class="post-category text-uppercase">Politics</p>
                        <h2 class="title">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal{{ article.id }}">
                                {{ article.title }}</a>
                        </h2>
                        <div class="post-meta d-flex align-items-center">
                            <p class="post-date">
                                <time datetime="{{ article.created_at|date:'Y-m-d' }}">
                                    <span class="bi bi-clock"></span> {{ article.created_at|date:'M d, Y' }}
                                </time>
                            </p>
                        </div>
                    </article>
                </div>

                <div class="modal fade" id="articleModal{{ article.id }}" tabindex="-1"
                    aria-labelledby="articleModalLabel{{ article.id }}" aria-hidden="true" inert>
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header bg-dark">
                                <h6 class="modal-title text-white" id="articleModalLabel{{ article.id }}">
                                    {{ article.title }}</h6>
                                <button type="button" class="btn-close" style="color: white;" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{ article.content|safe }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>

    </section><!-- /Blog Posts Section -->

    <!-- Blog Pagination Section -->
    <section id="blog-pagination" class="blog-pagination section">

        <div class="container">
            <div class="d-flex justify-content-center">
                <ul>
                    <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#" class="active">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li>...</li>
                    <li><a href="#">10</a></li>
                    <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>

    </section><!-- /Blog Pagination Section -->

</main>
{% endblock %}